@model IEnumerable<StalTradeAPI.Dtos.CompanyDto>

@{
    ViewData["Title"] = "Companies";
    Layout = "_UserLayout";
}

<div class="row">
    <h2 class="text-center">Klienci i dostawcy</h2>
    <div class="text-center">
        <div class="input-group search-input">
            @if (Model.Any())
            {
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input class="form-control search-bar" type="text" id="searchInput" onkeyup="searchByName()" placeholder="Wyszukaj po nazwie firmy..">
            }
            <div id="button-container">
                <button class="btn btn-primary" onclick="loadCreateCompanyForm()">Dodaj nowy rekord</button>
                <button id="add-contact-button" class="btn btn-warning">Dodaj nowy kontakt</button>
                @if (Model.Any())
                {
                    <button id="edit-button" class="btn btn-secondary">Edytuj</button>
                    <button id="delete-button" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć produkt?');" }>Usuń</button>
                }
            </div>
        </div>
        <table id="search-table" class="display table table-striped table-bordered table-hover">
            <thead class="thead-dark">
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<div id="partial-view" class="partial-view hidden">
    @await Html.PartialAsync("CreateCompany", new StalTradeAPI.Dtos.CompanyDto()),
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company.js"></script>
    <script>
        var data = @Html.Raw(Json.Serialize(Model));

        var table = new DataTable('#search-table', {
            data: data,
            columns: [
                { data: 'companyID', title: 'Id', visible: false },
                { data: 'name', title: 'Nazwa' },
                { data: 'shortName', title: 'Skrót' },
                { data: 'address', title: 'Adres firmy' },
                { data: 'city', title: 'Miasto' },
                { data: 'postalCode', title: 'Kod pocztowy' },
                { data: 'postOffice', title: 'Poczta' },
                { data: 'nip', title: 'NIP' },
                { data: 'paymentMethod', title: 'Forma płatności' },
                {
                    className: 'details-control', orderable: false, data: null, defaultContent: '', render: function (data, type, row) {
                        return row.contacts && row.contacts.length > 0
                            ? '<button class="show-details btn-info">Kontakty</button>'
                            : '';
                    }
                }
            ],
            searching: false,
            buttons: [
                'print'
            ],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/pl.json'
            },
            select: {
                info: false,
                selector: 'td:not(.details-control)',
                style: 'single'
            }
        });

        function format(data) {
            var contacts = data.contacts;

            var table = '<table style="margin-left:15px;" class="table subtable table-info table-bordered">' +
                '<thead>' +
                '<tr>' +
                '<th>Imię</th>' +
                '<th>Nazwisko</th>' +
                '<th>Stanowisko</th>' +
                '<th>Telefon 1</th>' +
                '<th>Telefon 2</th>' +
                '<th>Email</th>' +
                '<th></th>' +
                '</tr>' +
                '</thead>' +
                '<tbody>';

            for (var i = 0; i < contacts.length; i++) {
                table += '<tr>' +
                    '<td>' + contacts[i].firstname + '</td>' +
                    '<td>' + contacts[i].lastname + '</td>' +
                    '<td>' + contacts[i].position + '</td>' +
                    '<td>' + contacts[i].phone1 + '</td>' +
                    '<td>' + (contacts[i].phone2 || '') + '</td>' +
                    '<td>' + contacts[i].email + '</td>' +
                    '<td>' +
                    '<div class="btn-group" role="group">' +
                    '<a class="btn btn-secondary update-btn" onclick="loadUpdateContactForm(this)" data-item=\'' + JSON.stringify(contacts[i].contactID) + '\' style="margin-right: 5px;">Edytuj</a>' +
                    '<a class="btn btn-danger" href="CompanyUI/RemoveContact/' + contacts[i].contactID + '" onclick="return confirm(\'Czy na pewno chcesz usunąć kontakt?\')">Usuń</a>' +
                    '</div>' +
                    '</td>' +
                    '</tr>';
            }

            table += '</tbody></table>';
            return table;
        }
    </script>
}
