@{
    var jwtToken = Context.Request.Cookies["JWTToken"];
    var userName = Context.Request.Cookies["UserName"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StalTrade</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/loading-spinner.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
</head>
<body style="background-color: rgb(220,220,220);">
    <header>
        <div class="blur-overlay" id="blurOverlay"></div>
        <nav>
            <div class="d-flex justify-content-between w-100">
                <h1 class="navbar-brand">Witaj, @userName !</h1>
                <div class="d-flex">
                    <h1 class="navbar-brand clock"><span id="clock"></span></h1>
                    <h1 class="navbar-brand">
                        <a class="nav-link no-link-style" asp-controller="UserUI" asp-action="Logout">
                            <i class="fa-solid fa-right-from-bracket"></i> Wyloguj
                        </a>
                    </h1>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a href="/Home"><i class="fa-regular fa-cash-register"></i>Kasa</a></li>
                <li><a asp-controller="CompanyUI" asp-action="Index" class="@((ViewContext.RouteData.Values["controller"] as string == "CompanyUI") ? "active" : "")"><i class="fa-solid fa-person"></i>Dostawcy i klienci</a></li>
                <li><a href="/Services"><i class="fa-solid fa-magnifying-glass"></i>Magazyn</a></li>
                <li><a asp-controller="ProductUI" asp-action="Index" class="@((ViewContext.RouteData.Values["controller"] as string == "ProductUI") ? "active" : "")"><i class="fa-solid fa-book"></i>Produkty</a></li>
                <li><a href="/Contact"><i class="fa-solid fa-dollar-sign"></i>Sprzedaż</a></li>
                <li><a href="/Contact"><i class="fa-solid fa-cart-shopping"></i>Zakupy</a></li>
            </ul>
            <footer class="footer text-muted quest-footer">
                &copy; 2023 - StalTrade
            </footer>
        </aside>
        <main role="main" class="content text-center user-background">
            @RenderBody()
        </main>      
    </div>

    <div id="tokenExpirationMessage">
        <p>Wylogowano z powodu braku aktywności</p>
        <button id="acceptButton">Akceptuj</button>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/loading.js" asp-append-version="true"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        window.onload = function () {
            var token = '@jwtToken';
            scheduleTokenExpiration(token);
        }
        setInterval(updateClock, 1000);

        updateClock();
    </script>

</body>
</html>
