@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Napotkano błąd. @ViewBag.ErrorMessage</h1>
<h2 class="text-danger">Spróbuj ponownie później.</h2>
<div class="text-center">
    <a asp-action="Index" asp-controller="User" class="btn btn-primary">
        Przejdź do strony głównej
    </a>
</div>

