@model StalTradeAPI.Dtos.InvoiceDto
@{
    ViewData["Title"] = "Zakup";
    Layout = "_UserLayout";
}

<div class="text-center">
    <h2 id="purchase-header">Dodaj fakturę zakupu</h2>
    <form id="invoiceForm" asp-controller="InvoiceUI" asp-action="AddPurchase" method="post" class="my-form wide-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="InvoiceDate" class="control-label"></label>
                    <input id="invoice-date" asp-for="InvoiceDate" class="form-control" type="date" onchange="enableCompany()" />
                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="InvoiceNumber" class="control-label"></label>
                    <input id="invoice-number" asp-for="InvoiceNumber" class="form-control" />
                    <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="CompanyId" class="control-label"></label>
                    <select id="invoice-companyId" asp-for="CompanyId" class="form-control" onchange="updatePaymentDate(products)" readonly>
                        <option value="" disabled selected>Wybierz firmę</option>
                        @foreach (var company in ViewBag.Companies)
                        {
                            <option value="@company.CompanyID">@company.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
                <div class="col">
                    <label id="invoice-date-label" class="control-label">Data płatności</label>
                    <input id="invoice-payment-date" asp-for="PaymentDate" class="form-control" type="date" readonly />
                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="Netto" class="control-label"></label> zł
                    <input id="invoice-netto" asp-for="Netto" class="form-control" type="number" readonly />
                    <span asp-validation-for="Netto" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Brutto" class="control-label"></label> zł
                    <input id="invoice-brutto" asp-for="Brutto" class="form-control" type="number" readonly />
                    <span asp-validation-for="Brutto" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button style="margin-right: 15px" type="button" class="btn btn-dark" onclick="goBack()">Wstecz</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
        <div id="product-entries text-center">
            <div class="product-entry">
                <label>Wybierz produkty zwiększając ilość:</label>           
                <table id="product-table" class="display table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th hidden></th>
                            <th>Nazwa</th>
                            <th>Ilość</th>       
                            <th>Rzeczywista ilość</th>
                            <th>Jednostka miary</th>
                            <th>Cena jednostkowa</th>                          
                            <th>Cena netto zł</th>
                            <th>Suma brutto zł</th>
                            <th>VAT %</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/createInvoice.js"></script>
    <script>
        var companies = @Json.Serialize(ViewBag.Companies);
        var products = @Json.Serialize(ViewBag.Products);
    </script>
}
