.urlLink {
    margin-left: 50%;
    margin-bottom: 5px;
}

.search-bar {
    border-radius: 7px;
}

.search-input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 30%;
}

.btn-back {
    margin-right: 15px;
}

.my-form {
    max-width: 500px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 25px;
}

.contact-form {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.form-floating:focus-within {
    z-index: 2;
}

    .my-form .form-group {
        margin-bottom: 15px;
    }

    .my-form label {
        font-weight: bold;
    }

    .my-form input[type="number"] {
        width: 70px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin: auto;
    }

    .my-form input[type="text"],
    .my-form select {
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .my-form button[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

        .my-form button[type="submit"]:hover {
            background-color: #0069d9;
        }

.my-btn {
    margin-right: 5px;
    border-radius: 5px;
}

.partial-view {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    margin-top: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#partial-view-method {
    width: 100%;
    padding: 15px;
}

.contact-form {
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.my-form-check {
    padding-left: 0;
    padding-top: 5px;
}