.big-logo {
    margin-top: 20%;
}

.login-motto {
    padding-left: 10%;
    margin-top: 5%;
}

.quest-footer {
    background-color: #333;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 3500ms infinite; 
}