header {
    height: 7vh;
    padding: 5px;
    z-index: 1;
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: 1px solid black;
    background-color: #1a6985; 
    color: #fff; 
}

.navbar-brand {
    padding-left: 1.25em;
    padding-bottom: 10px;
    padding-top: 10px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-link {
    display: inline;
}

.logo {
    max-width: 100%;
    height: 25px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-size: 22px;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}

    .no-link-style:hover {
        color: lightgreen;
        cursor: pointer;
    }

.min-logo {
    height: 60px;
    width: 70px;
    margin-top: -15px;
    margin-left: -10px;
}
