.sidebar {
    width: 15%;
    background-color: #333;
    height: 100vh;
    font-size: 18px;
    position: fixed;
    border-right: 2px solid black;
    left: 0;
    top: 0;
    padding-top: 7vh;
    color: #fff;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sidebar li {
        border-bottom: 2px solid #444;
    }

    .sidebar i {
        padding: 7px;
        margin-right: 7px;
    }

    .sidebar a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #fff;
    }

        .sidebar a:hover {
            background-color: #5BC0DE;
        }

a:hover {
    background-color: #1a6985;
    color: lightgreen;
    cursor: pointer;
}
.btn:hover {
    color: lightgreen;
}

.active {
    background-color: #5BC0DE;
    color: lightgreen;
}

.sidebar .submenu {
    display: none;
    padding-left: 25px;
}

    .sidebar .submenu.show {
        display: block;
    }