#tokenExpirationMessage {
    display: none;
    text-align: center;
    font-size: 18px;
    border: 2px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    margin-left: 15%;
    padding: 20px;
    height: 93vh;
    background-size: cover;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    padding: 0;
    max-width: 100%;
}

main {
    height: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 12px;
    bottom:0;
}

.search-bar {
    border-radius: 7px;
}

.details-label {
    font-weight: bold;
    color: #555;
}

.btn-back {
    margin-right: 15px;
}

.position-fixed {
    position: fixed;
    height: 100%;
    width: 100%;
}

pb-3 {
    position: relative;
}

.index-background {
    background: url(/img/logoznazwa.png);
    opacity: 0.3;
    background-size: cover;
}

.user-background {
    
}

.hidden {
    visibility: hidden
}

.add-button {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thead-dark {
    background-color: #333;
    color: white;
}
.table {
    border: 2px solid black;
}
th:hover {
    cursor: pointer;
}

#button-container {
    position: fixed;
    right: 25px;
}

.position-float-right {
    float: right;
}

button[disabled] {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.btn-group {
    margin-top: 10px;
}

#payment-to-the-cash {
    margin-bottom: 0.333em;
    float: left;
}

#deposit-button {
    float: left;
    position: relative;
    margin-bottom: 5px;
}