#tokenExpirationMessage {
    display: none;
    text-align: center;
    font-size: 18px;
    border: 2px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.container {
    width: 85%;
    min-height: 100%;
    margin-left: 15%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* Margin bottom by footer height */
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(220,220,220);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    padding: 12px;
}
.quest-footer {
    background-color:#333;
}

.search-bar {
    border-radius: 7px;
}




.details-label {
    font-weight: bold;
    color: #555;
}

.btn-back {
    margin-right: 15px;
}

.big-logo {
    margin-left: auto;
    height: 67%;
    margin-right: auto;
}

.login-motto {
    text-align: left;
    padding-left: 10%;
    margin-top: 50px;

}