@model IEnumerable<StalTradeAPI.Dtos.ProductDto>
@{
    ViewData["Title"] = "Produkty";
    Layout = "_UserLayout";
}

<div class="row">
    <h2 class="text-center">Produkty</h2>
    <div class="text-center">
        <div class="input-group search-input">
            @if (Model.Any())
            {
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input class="form-control search-bar" type="text" id="searchInput" onkeyup="searchByName()" placeholder="Wyszukaj po nazwie produktu..">
            }
            <div id="button-container">
                <button class="btn btn-primary" onclick="loadCreateProductForm()">Dodaj nowy produkt</button>
                @if (Model.Any())
                {
                    <button id="edit-button" class="btn btn-secondary">Edytuj</button>
                    <button id="delete-button" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć produkt?');" }>Usuń</button>
                }
            </div>
        </div>
        <table id="search-table" class="display table table-striped table-bordered table-hover">
            <thead class="thead-dark">
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="partial-view" class="partial-view hidden">
    @await Html.PartialAsync("CreateProduct", new StalTradeAPI.Dtos.ProductDto()),
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/product.js"></script>
    <script>
        var data = @Html.Raw(Json.Serialize(Model));  
        console.log(data);
        </script>
}


