@model StalTradeAPI.Dtos.ContactDto

<div class="text-center form-container">
    <h2 id="contact-form-name">Kontakt</h2>
    <form class="contact-form" asp-controller="CompanyUI" id="contactForm" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input id="companyId" asp-for="CompanyID" class="form-control" hidden />
        <input id="contactId" asp-for="ContactID" class="form-control" hidden />
        <div class="form-group">
            <label asp-for="Firstname" class="control-label"></label>
            <input id="firstname" asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Lastname" class="control-label"></label>
            <input id="lastname" asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="control-label"></label>
            <input id="position" asp-for="Position" class="form-control" />
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone1" class="control-label"></label>
            <input id="phone1" asp-for="Phone1" class="form-control" />
            <span asp-validation-for="Phone1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone2" class="control-label"></label>
            <input id="phone2" asp-for="Phone2" class="form-control" />
            <span asp-validation-for="Phone2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input id="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button style="margin-right: 15px" type="button" class="btn btn-dark" onclick="CloseForm()">Wstecz</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
    </form>
</div>
