@model StalTradeAPI.Dtos.CompanyDto
@using Microsoft.AspNetCore.Mvc.Rendering
@using System.ComponentModel.DataAnnotations;

<div class="text-center">
    <form id="companyForm" asp-controller="CompanyUI" method="post" class="my-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="CompanyID" class="form-control" hidden/>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ShortName" class="control-label"></label>
            <input asp-for="ShortName" class="form-control" />
            <span asp-validation-for="ShortName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label asp-for="PostalCode" class="control-label"></label>
                <input id="PostalCode" asp-for="PostalCode" class="form-control" oninput="PostalCodeFormat()" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="PostOffice" class="control-label"></label>
                <input asp-for="PostOffice" class="form-control" />
                <span asp-validation-for="PostOffice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NIP" class="control-label"></label>
            <input asp-for="NIP" class="form-control" />
            <span asp-validation-for="NIP" class="text-danger"></span>
            <span id="uniqueNIPError" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PaymentMethod" class="control-label"></label>
            <select asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<StalTradeAPI.Dtos.PaymentMethod>()" class="form-control"></select>
            <span asp-validation-for="PaymentMethod" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button style="margin-right: 15px" type="button" class="btn btn-secondary" onclick="CloseForm()">Wstecz</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
    </form>
</div>






