@model IEnumerable<StalTradeAPI.Dtos.CompanyDto>

@{
    ViewData["Title"] = "Companies";
    Layout = "_UserLayout";
}

<div class="row">
    <h2 class="text-center">Firmy</h2>
    <div class="text-center">
        <div class="input-group search-input">
            @if (Model.Any())
            {
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input class="form-control search-bar" type="text" id="searchInput" onkeyup="searchByName()" placeholder="Wyszukaj po nazwie firmy..">
            }
            <div id="button-container">
                <button id="add-company-button" class="btn btn-primary">Dodaj nową firmę</button>
                <button id="add-contact-button" class="btn btn-warning">Dodaj nowy kontakt</button>
                @if (Model.Any())
                {
                    <button id="edit-company-button" class="btn btn-secondary">Edytuj</button>
                    <button id="delete-company-button" class="btn btn-danger">Usuń</button>
                }
            </div>
        </div>
        <table id="search-table" class="display table table-striped table-bordered table-hover">
            <thead class="thead-dark">
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="partial-view-company" class="partial-view hidden">
    @await Html.PartialAsync("CreateCompany", new StalTradeAPI.Dtos.CompanyDto()),
</div>
<div id="partial-view-contact" class="partial-view hidden">
    @await Html.PartialAsync("CreateContact", new StalTradeAPI.Dtos.ContactDto()),
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company.js"></script>
    <script src="~/js/paymentMethod.js"></script>
    <script>
        var data = @Json.Serialize(Model);
    </script>
}

